<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post başarıyla silindi!</title>
    <%- include('imports') %>
</head>
<body>
    <%- include('navbar') %>
    <p class="my-5 ml-5"><%- targetPost %> başarıyla silindi!</p>
    <%- include('footer') %>
</body>
</html>